a
{
	color:#FFF;
	}
a:visited {
    color: white;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}
li a:hover {
  background-color:#09F;
	border: 0px;
  border-radius: 6px;
	border-color:#09F;
	box-shadow: 0px 3px 6px 1px #444;
}
img.hspc {
  vertical-align: middle;
  hspace: 0;
}
li.hspc {
  vertical-align: middle;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0094E5;
    position: fixed;
    top: 0px;
    width: 100%;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}
li a.item_divider {
    display: block;
    color: inherit;
    text-align: center;
    padding: 23px 23px;
    text-decoration: none;
}

li.Item {
    display: block;
    text-align: center;
    padding: 23px 25px;
    text-decoration: none;
}
li {
    float: left;
}
