a
{
	color:#FFF;
}
a:visited {
    color: white;
}
body, html {
  margin: 0;
  padding: 0;
	font-family: 'Lato', sans-serif;
}
li a:hover {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
  background-color:#09F;
	border: 0px;
  border-radius: 6px;
  background-color:#09F;
  border-radius: 6px;
	border-color:#09F;
	/*box-shadow: 0px 3px 6px 1px #444; */
}
img.hspc {
  vertical-align: middle;
  hspace: 0;
}
li.hspc {
  vertical-align: middle;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
nav {


}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}
li a.item_divider {
    display: block;
    color: inherit;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li.Item {
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
li {
	float: left;

}
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
	opacity: .95;
	 filter: alpha(opacity=70); /* For IE8 and earlier */
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
	 background-color: #0094E5;
	 position: fixed;
	 top: 15px;
	 width: 100%;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
	 display: inline-block;
	 color: #f2f2f2;
	 text-align: center;
	 padding: 14px 16px;
	 text-decoration: none;
	 transition: 0.3s;
	 font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {  background-color:#09F;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
@media screen and (max-width:960px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
.fixed {
	position: fixed;
	top: 0;
	left: 0;
}
@media screen and (max-width:960px) {
  ul.topnav.responsive {position: auto; z-index: 1; height: 90%; top: 15px;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
