p {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-family: 'Open Sans', sans-serif;
}
h2 {
  font-family: 'Open Sans', sans-serif;
}
h3 {
  font-family: 'Open Sans', sans-serif;
}
h4 {
  font-family: 'Open Sans', sans-serif;
}
h5 {
  font-family: 'Open Sans', sans-serif;
}
h6 {
  font-family: 'Open Sans', sans-serif;
}
a {
  color: inherit;
  font-family: 'Open Sans', sans-serif;
}
a:visited {
    color: white;
    font-family: 'Open Sans', sans-serif;
}
body, html {
  margin: 0;
  padding: 0;
}
li a:hover {
    background-color: #0075AF;
}
img.hspc {
  vertical-align: middle;
  hspace: 0;
}
li.hspc {
  vertical-align: middle;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0094E5;
    position: fixed;
    top: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}
li a.topkek {
    display: block;
    color: inherit;
    text-align: center;
    padding: 23px 23px;
    text-decoration: none;
}
li.kek {
    display: block;
    color: black;
    text-align: center;
    padding: none;
    text-decoration: none;
}
li.Item {
    display: block;
    text-align: center;
    padding: 23px 25px;
    text-decoration: none;
}
li {
    float: left;
}
